@import "sass/reset";
@import "sass/clearfix";

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker';
$openSans: 'Open Sans', sans-serif;
$permanent-marker: 'Permanent Marker', cursive;

$independenceColor: #4D5061;
$eaglegreen: #114B5F;
$aeroBlue: #D6F6DD;
$begoniaColor: #FF6978;
$plantinumColor: #E9EDDE;

@mixin small{
  @media #{$small} {
    @content;
  }
}

@mixin medium{
  @media #{$medium} {
    @content;
  }
}

@mixin large{
  @media #{$large} {
    @content;
  }
}

body{
  font-family: $openSans;

  .header{
    background-color: $independenceColor;
    font-family: $permanent-marker;
    color: #c0c0c0;
    font-size: 3rem;
    padding: .5em;
  }
}

.page-wrap{
  display: block;
  width: 50%;
  align-content: center;
  margin: 25%;
}

.contain{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.taskForm{
  display: block;
  float: right;
  font-weight: bold;
  color: #797979;
  width: 40%;
  margin-left: 10%;

  .submitPost{
    background-color: $independenceColor;
    color: #c0c0c0;
    outline: none;
    height: 2em;
    border: none;
    font-size: 1em;
    letter-spacing: .1em;

  }
  .submitPost:hover{
    background-color: #c0c0c0;
    color: $independenceColor;
  }
  input, textarea{
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
    outline: none;
    padding: .2em;
    font-size: .8em;
  }
}

.taskList{
  float: left;
}

.boxes{
  display: block;
  align-content: center;
  width: 100%;
  background-color: $begoniaColor;
  border-radius: .2em;

}
.taskTitle{
  font-size: 1em;
  font-weight: bold;
}

.footer{
  background-color: #4D5061;
  height: 3.5em;
}