@import "partials/reset";
@import "partials/clearfix";
@import "partials/colors";

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker';
$openSans: 'Open Sans', sans-serif;
$permanent-marker: 'Permanent Marker', cursive;

$small: "(min-width: 100px) and (max-width: 600px)";
$medium: "(min-width: 600px) and (max-width: 900px)";
$large: "(min-width: 900px)";

@mixin small{
  @media #{$small} {
    @content;
  }
}

@mixin medium{
  @media #{$medium} {
    @content;
  }
}

@mixin large{
  @media #{$large} {
    @content;
  }
}

body{
  font-family: $openSans;
  min-height: 100vh;
  height: 100%;
  min-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header{
  width: 100%;
  // position: fixed;
  top: 0;
  background-color: $carminePink;
  font-family: $permanent-marker;
  color: #F7EBE8;
  font-size: 3rem;
  padding: .5em;
  -moz-box-shadow:    0 0 5px 6px hsla(231, 0%, 94%, 0.5);
  -webkit-box-shadow: 0 0 5px 6px hsla(231, 0%, 94%, 0.5);
  box-shadow:         0 0 5px 6px hsla(231, 0%, 94%, 0.5);

  &.scrollNav{
    opacity: 0.92;
    transition: all 0.5s ease;
  }
}

.page-wrap{
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  margin: 10% auto;
}

.contain{
  padding-top: 3em;
  display: flex;
  flex-flow: row wrap;
}
.taskBox{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-sizing: border-box;
  align-content: flex-start;
  width: 100%;
}

.statusBox{
  display: block;
  // justify-content: space-between;
  // box-sizing: border-box;
  // flex-flow: row wrap;
}
.statusBoxes{
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.taskFormBox{
  width: 300px;
  height: 470px;
  margin: 30px;
  display: block;
  padding: .9em;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  border-radius: 4px;
}

.top{
  font-weight: bold;
  color: #c0c0c0;
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: .3em;

  .taskText{
    text-align: center;
    letter-spacing: .4rem;
  }
}
.taskForm{
  font-weight: bold;
  color: #797979;

  .submitPost{
    background-color: $carminePink;
    color: #FFF;
    outline: none;
    height: 2em;
    border: none;
    box-shadow: 0 .2em $pastelRed;
    font-size: 1em;
    letter-spacing: .1em;
    justify-content: center;
    transition: 0.3s all ease;
    width: 100%;

  }
  .submitPost:hover{
    background-color: $pastelRed;
    color: #FFF;
    box-shadow: 0 .2em $carminePink;
  }
  input, textarea{
    width: 95%;
    margin-top: .5em;
    margin-bottom: .5em;
    outline: none;
    padding: .2em;
    font-size: .9em;
    border-color: #e5e5e5;
    border-radius: 4px;
  }
  textarea{
    resize: none;
  }
}

.deleteButton, .leftButton, .rightButton{      
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  border: none;
  background-color: #fff;
  color: $independenceColor;
  text-align: center;
}

h3{
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  margin-bottom: .5em;
}

.queueStatus, .progressStatus, .doneStatus{
  padding: .4em;
  width: 200px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  border-radius: 4px;
  margin-bottom: 2em;
  display: block;
  box-sizing: border-box;
  margin: 30px;

  h3{
    color: $independenceColor;
    text-align: center;
    font-weight: bold;
  }
}

.hide{
  display: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.queueStatus{
  .leftButton{
    display: none;
  }
}

.doneStatus{
  .rightButton{
    display: none;
  }
}

.boxes{
  line-height: 1.3rem;

  h2{
    text-align: center;
    font-size: .98rem;
    color: #797979;
  }
}

.buttons{
  border-box: box-sizing;
  text-align: center;
}

.statusTitle{
  visibility: hidden;
}

.priorityOptions, .statusChoices{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

select {
  width: 100%;
  background: transparent;
  padding: .3em;
  font-size: .9em;
  border: 0;
  border-radius: .2em;
  height: 2.5em;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  color: #c0c0c0;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  outline: none;
}

.taskTitle{
  font-size: 1em;
  font-weight: bold;
}

.footer{
  background-color: $carminePink;
  height: 6em;
  width: 100%;

  .copyFooter{
    text-align: center;
    color: #FFF;
    padding-top: 2em;
  }
}