$independenceColor: #4D5061;
$eaglegreen: #114B5F;
$aeroBlue: #D6F6DD;
$begoniaColor: #FF6978;
$plantinumColor: #E9EDDE;
/// NEW COLORS ///
$carminePink: #E54B4B;
$pastelRed: #F76A6A;
$linen: #F7EBE8;
$nickel: #726E75;
$taupeGrey: #948B89;