/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  height: 100%;
  min-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

.header {
  width: 100%;
  height: 80px;
  background-color: #E54B4B;
  font-family: "Permanent Marker", cursive;
  color: #F7EBE8;
  font-size: 3rem;
  padding: .5em;
  -moz-box-shadow: 0 0 5px 6px rgba(240, 240, 240, 0.5);
  -webkit-box-shadow: 0 0 5px 6px rgba(240, 240, 240, 0.5);
  box-shadow: 0 0 5px 6px rgba(240, 240, 240, 0.5); }
  .header.scrollNav {
    opacity: 0.92;
    transition: all 0.5s ease; }

.taskBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-sizing: border-box;
  align-content: flex-start;
  width: 100%;
  margin: auto; }

.statusBox {
  display: block; }

.statusBoxes {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  align-content: space-around; }

.taskFormBox {
  width: 300px;
  height: 470px;
  margin: 30px;
  display: block;
  padding: .9em;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 4px; }

.top {
  font-weight: bold;
  color: #c0c0c0;
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: .3em; }
  .top .taskText {
    text-align: center;
    letter-spacing: .4rem; }

.taskForm {
  font-weight: bold;
  color: #797979; }
  .taskForm .submitPost {
    background-color: #E54B4B;
    color: #FFF;
    outline: none;
    height: 2em;
    border: none;
    box-shadow: 0 0.2em #F76A6A;
    font-size: 1em;
    letter-spacing: .1em;
    justify-content: center;
    transition: 0.3s all ease;
    width: 100%; }
  .taskForm .submitPost:hover {
    background-color: #F76A6A;
    color: #FFF;
    box-shadow: 0 0.2em #E54B4B; }
  .taskForm input, .taskForm textarea {
    width: 95%;
    margin-top: .5em;
    margin-bottom: .5em;
    outline: none;
    padding: .2em;
    font-size: .9em;
    border-color: #e5e5e5;
    border-radius: 4px; }
  .taskForm textarea {
    resize: none; }

.deleteButton, .leftButton, .rightButton {
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  border: none;
  background-color: #fff;
  color: #726E75;
  text-align: center; }
  .deleteButton:hover, .leftButton:hover, .rightButton:hover {
    color: #E54B4B; }

h3 {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  margin-bottom: .5em; }

.queueStatus, .progressStatus, .doneStatus {
  padding: .4em;
  width: 200px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 4px;
  margin-bottom: 2em;
  display: block;
  box-sizing: border-box;
  margin: 30px; }
  .queueStatus h3, .progressStatus h3, .doneStatus h3 {
    color: #726E75;
    text-align: center;
    font-weight: bold; }
  .queueStatus p, .progressStatus p, .doneStatus p {
    color: #948B89;
    font-size: .9rem;
    text-align: center; }

.hide {
  display: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }

.queueStatus .leftButton {
  display: none; }

.doneStatus .rightButton {
  display: none; }

.boxes {
  line-height: 1.3rem; }
  .boxes h2 {
    text-align: center;
    font-size: .98rem;
    color: #797979; }

.buttons {
  border-box: box-sizing;
  text-align: center; }

.statusTitle {
  visibility: hidden; }

.priorityOptions, .statusChoices {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

select {
  width: 100%;
  background: transparent;
  padding: .3em;
  font-size: .9em;
  border: 0;
  border-radius: .2em;
  height: 2.5em;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  color: #c0c0c0;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  outline: none; }

.taskTitle {
  font-size: 1em;
  font-weight: bold; }

.footer {
  background-color: #E54B4B;
  height: 6em;
  width: 100%; }
  .footer .copyFooter {
    text-align: center;
    color: #F7EBE8;
    padding-top: 2em; }
